<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
  
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class=" rounded-circle mb-2" src="https://media.licdn.com/dms/image/D4E03AQG4MGI6OmDBVA/profile-displayphoto-shrink_800_800/0/1663608899828?e=1686787200&v=beta&t=oXhGFE7PjRfr2fmdyg1g-2299rAm0KSpWWMb3A1G_BA" alt="">
                    
                    <!-- Profile picture upload button-->
                    <form action="/action_page.php">
                    <input type="file" id="myFile" name="filename">
                    <button  class="btn btn-primary" type="button">Save changes</button>
                  </form>
  
  
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{authService.loginedUser!.username}}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{authService.loginedUser!.username}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="kotlen">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{authService.loginedUser!.username}}@lear.com">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">PASSWORD</label>
                            <input class="form-control" id="inputPASSWORD" type="text" placeholder="Enter your PASSWORD" value="{{authService.loginedUser!.password}}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button id="upload-btn" class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>