<html>
<head>

<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>

<div class="vh-100">
  <body>
  
  
    <div class="container">
      <div class="d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-sm-6">
            <a href="" class="text-decoration-none" routerLink="/Admin/Tasks">
              <div class="card text-center shadow">
                <div class="card-body">
                  <i class="fas fa-user fa-5x text-info"></i>
                  <p class="card-text"></p>
                  <h5 class="card-title">User</h5>
                  <p><span class="big-number ">{{numberOfUsers}}</span></p>
  
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="text-decoration-none" routerLink="/Admin/Produit">
              <div class="card text-center shadow">
                <div class="card-body">
                  <i class="fas fa-box fa-5x text-success"></i>
                  <p class="card-text"></p>
                  <h5 class="card-title">Product</h5>
                  <p><span class="big-number " >{{numberOfProduct}}</span></p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="text-decoration-none" routerLink="/Admin/Clients">
              <div class="card text-center shadow">
                <div class="card-body">
                  <i class="fas fa-users fa-5x text-secondary"></i>
                  <p class="card-text"></p>
                  <h5 class="card-title">Client</h5>
                  <p><span class="big-number ">12</span></p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="text-decoration-none" routerLink="/Admin/Projects">
              <div class="card text-center shadow">
                <div class="card-body">
                  <i class="fas fa-project-diagram fa-5x text-primary"></i>
                  <p class="card-text"></p>
                  <h5 class="card-title">Project</h5>
                  <p><span class="big-number ">4</span></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  </body>
  </div>
  </html>
