<section id="clients" class="section-bg">

    <div class="container">

      <div class="section-header">
        <h3>Our CLients</h3>
        <p>Meet our happy clients</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b4/Jaguar_2012_logo.png" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://di-uploads-pod3.dealerinspire.com/vindeversautohausofsylvania/uploads/2018/10/Audi-Logo-Banner.png" class="img-fluid" alt="">
          </div>
        </div>
      
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f4/BMW_logo_%28gray%29.svg" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://scontent.frba2-1.fna.fbcdn.net/v/t1.6435-9/209277575_4475986112413767_4303936338527293612_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bVm4x9Gtjg0AX_FBygw&_nc_ht=scontent.frba2-1.fna&oh=00_AfDdrkwTERsQ18neNiMs7o_dByiOg2Sb3zETdh6a5nzN1A&oe=645A7D5E" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://upload.wikimedia.org/wikipedia/en/f/fe/Peugeot_2021.svg" class="img-fluid" alt="">
          </div>
        </div>
      
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Opel_Logo_2021.svg" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/xevzc9vkodkida4hxewu" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Ford_Motor_Company_Logo.svg" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>

  </section>