
<navbar></navbar>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Services</title>
</head>
<body>

 <div class="main">
  <h1>Our services</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/media/siége automobile.jpg"/></div>
        <div class="card_content">
          <h2 class="card_title">Automotive Seating</h2>
          <p class="card_text">Lear provides a range of automotive seating systems, including complete seat assemblies, seat structures, seat trim covers,and headrests. Lear's seating systems are designed to provide comfort, safety, and convenience to the driver and passengers.</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/media/Électronique Automobile.png"></div>
        <div class="card_content">
          <h2 class="card_title">Automotive electronics</h2>
          <p class="card_text">Lear Corporation also provides automotive electronics solutions, including connectivity systems, audio systems, navigation systems, and vehicle information and entertainment systems , improving vehicle safety, and enabling the development of more advanced and intelligent vehicles</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/media/gestion-thermique.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Thermal management</h2>
          <p class="card_text">Lear Corporation provides thermal management solutions for vehicles, including heated and ventilated seats, heating and air conditioning systems, and cooling systems for electric vehicle batteries , Lear's thermal management solutions are focused on maximizing the performance</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/media/Fabrication.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Manufacturing</h2>
          <p class="card_text">Lear Corporation offers manufacturing services to its customers, including automotive parts manufacturing, component assembly and production of complete seating systems</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/media/Intérieurs automobiles.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Automotive interiors</h2>
          <p class="card_text">Lear Corporation also offers high-quality interiors for vehicles, including dashboards, door panels, virtual prototyping and modeling , center consoles and other interior components.</p>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/media/recherchedev.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Research and development</h2>
          <p class="card_text">Lear Corporation invests in the research and development of innovative technologies to improve the performance, safety and comfort of automotive seating and electronic systems</p>

        </div>
      </div>
    </li>
  </ul>
</div>


</body>

