<!----------------------------socialmedia------------------------------------------------------------------------------------------------------------------------------>
<div class="col-md" id="socialmedia">
    
      <div class="">
        <a href="https://www.instagram.com/learcorp">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
      <div class="">
        <a href="https://www.facebook.com/LearCorporation/">
          <i class="bi bi-facebook"></i>
        </a>
      </div>
      <div class="">
        <a href="https://www.linkedin.com/company/lear-corporation/">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    
    
    
  </div>
