<html>
  <head><navbar></navbar></head>
  <body>
    
  


<div id="bg">
  <div></div>
</div>
<!------------lear-name-animation--------------------------------------------------------------------------------->
<div id="lear-name-animation">
<section>
<div class="container" >
  <div class="row">
    <div class="col-md-12 text-center">

      <div class="logo down"><h3 class="animate-charcter" >LEAR CORPORATION</h3></div>
      <div class="logo down"><h3 class="animate-charcter" ></h3></div>
      <div class="logo down"><h3 id="sale" class="animate-charcter" >SALÉ</h3></div>

    </div>
  </div>
</div>
</section></div>

<!------------content1--------------------------------------------------------------------------------->
<div><div></div></div>
<div id="content1">
<section class="">
  
  <h1 id="space">
    <div class="logo1 down">Lear Corporation </div> </h1>

  <br><div class="logo1 down">Est une société américaine spécialisée dans la fabrication 
  et la distribution</div> <div class="logo1 down">d'équipements intérieurs automobiles. 
  À la fin de juin 2009, elle était<div class="logo1 down"> le deuxième fabricant de sièges automobiles au monde.</div></div>

</section></div>
<!------------content2--------------------------------------------------------------------------------->

<section class="hidden" id="content2">
<div class="container">
<div id="l2">
<div class="row">
  
<div class="col-md-4 " id="be inclusive"><h1 class="h1 values" id="h1">Be <br>Inclusive</h1>We are committed to each other , our suppliers and our customers as well as protecting the environment and supporting the communities where we live and work.</div>

<div class="col-md-4" id="be inventive"><h1 class="h1 values" id="h1">Be <br>Inventive</h1>developing innovative intelligent vehicle experiences to streamlining operations, we are always moving forward.</div>
<div class="col-md-4" id="be getresults"><h1 class="h1 values" id="h1">Get Results <br>the Right Way</h1>By working as a team, understanding our customers, needs, showing respect, empowering others, making sound and timely decisions, investing in our talent for the future and focusing on long-term goals instead of short-term gains, we get the results the right way.</div>
</div>
</div>
</div>
</section>

<!------------content3--------------------------------------------------------------------------------->

<section id="content3">
<div ></div></section>

<!-------------Google map------------------------------------------------------------------------------------>

<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">

    <iframe src="https://maps.google.com/maps?q=Lear Automotive Morocco S.A.S.&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" id="iframe" allowfullscreen>
    
    </iframe>

  </div>
  
</body>
</html>